<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298649632648-kojas12u4kl2085sdnc0h3fd91npgquh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298649632648-kojas12u4kl2085sdnc0h3fd91npgquh</string>
	<key>API_KEY</key>
	<string>AIzaSyB0x9y_-OXxHLNYiyCVH2UnOfuRjs14sWA</string>
	<key>GCM_SENDER_ID</key>
	<string>298649632648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lbta.swiftuichatapp-ios</string>
	<key>PROJECT_ID</key>
	<string>lbta-swiftui-chat-app-a1ee2</string>
	<key>STORAGE_BUCKET</key>
	<string>lbta-swiftui-chat-app-a1ee2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298649632648:ios:c6c94482257a9d3a66443d</string>
</dict>
</plist>